*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #cecece;
}

/* header */
header{
    padding: 20px;
    margin-bottom: 40px;
    background-color: white;
}

img{
    display: inline-block;
    vertical-align: middle;
}

h1{
    display:inline-block;
    vertical-align: middle;
}
/* /header */

/* box centrale */

section{
    width: 50%;
    margin-right: 25%;
    margin-left:25%;
}
nav{
    height: 50px;
    background-color: white;
    padding-left: 70px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #cecece;
    border-bottom: 2px;
    border-color: #cecece;
}

/* buttons */
button{
    margin-top: 11px;
    padding: 5px;
    border-radius: 5px;
    vertical-align: middle; 
}

#buttontask{
    background-color: #45ABEA;
    color: white;
    border: #45ABEA;
}

#buttonsection{
    background-color: white;
    color: #cecece;
    border-color: #cecece;
}

/* buttons */







/* box centrale */