*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #cecece;
}

/* header */
header{
    padding: 20px;
    margin-bottom: 40px;
    background-color: white;
}

img{
    display: inline-block;
    vertical-align: middle;
}

h1{
    display:inline-block;
    vertical-align: middle;
}
/* /header */

/* box centrale */

section{
    width: 50%;
    margin-right: 25%;
    margin-left:25%;
    margin-top: 2px;
}
nav{
    height: 50px;
    background-color: white;
    padding-left: 70px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #cecece;
    border-bottom: 2px;
    border-color: #cecece;
}

/* buttons */
button{
    margin-top: 11px;
    padding: 5px;
    border-radius: 5px;
    vertical-align: middle; 
}

#buttontask{
    background-color: #45ABEA;
    color: white;
    border: #45ABEA;
}

#buttonsection{
    background-color: white;
    color: #cecece;
    border-color: #cecece;
}

/* buttons */

/* struttura paragrafo */
main{
    padding: 40px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    margin-top: 2px;
}

.container{
    padding-bottom: 20px;
}

.circle{
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 20px;
    border: 1px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
}

.circle-check{
    color: green;
    border-color: green;
}

.circle-cross{
    color: red;
    border-color: red;
}

h4{
    display: inline-block;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* struttura paragrafo */

/* etichette colorate */

.label{
    color:white;
    border-radius: 5px;
    padding: 3px;
}

.azzurro{
    background-color: #45ABEA;
}

#viola{
    background-color: #9C72E4;
}

#verde{
    background-color: #64C0A9;
}

#arancione{
    background-color: #F29E33;
}

#fuxia{
    background-color: #D863A1;
}

#lime{
    background-color: #B0C926;
}

/* /etichette colorate */

/* box centrale */